<!-- ProjectIndex - the index document -->
<div id="page">
  <div class="head">
    <h3><%= @project.title %></h3>
    <h1>Índice</h1>
  </div>
  <div class="indices">
    <% @index.each do |pointer| %>
      <% div_for(pointer, :class => "item #{'not-selectable' unless pointer.document?}") do  %>
        <%= pointer.document? ? link_to_ajax(pointer.title, chapter_path(:id => "#{pointer.id}-#{pointer.title.parameterize}")) : pointer.title %>
        <%= content_tag(:span, "Por: #{pointer.author}", :class => 'property author') unless pointer.author.blank? %>
      <% end %>
    <% end %>
  </div>
</div>


