<div id="page">
  <div id="index_<%= index.id %>" class="head index">
    <h3><%= @project.title %></h3>
    <h1>Índice de '<%= @project.title %>'</h1>
    <% index.each do |pointer| %>
      <% div_for(pointer, :class => 'item') do  %>
        <%= pointer.title %>
      <% end %>
    <% end %>
  </div>
</div>