
<div class="under_construction">
  <h1>Actividades</h1>
  <p>(en construcción)</p>
  <p>Aquí se mostraran las actividades de la gente que colabora contigo: fulanita ha editado esto, menganito ha comentado aquello</p>
</div>
