<div class="browser activity_group_browser">
  <h1>Actividad</h1>
  <div class="list activity_groups">
    <div class="activity_group item">
      <%= link_to_ajax 'Toda la actividad de plataformabooka.net', activity_report_path(:id => 'booka') %>
    </div>
  </div>
</div>
