<%= slot_for clip.parent, clip %>
<% div_for clip do %>
  <% if can? :manager, clip %>
    <div class="floating_actions">
      <%= iminbutton_to t('.edit'), "bolt", "#" %>
      <%= iminbutton_to t('.edit'), "pen_alt_stroke", edit_document_clip_path(clip.parent, clip) %>
    </div>
  <% end %>
  <%= clip.body_rendered  %>
<% end %>