<% if can? :manager, clip %>
  <%= slot_for clip.parent, clip %>
<% end %>
<% div_for(clip, :class => 'section') do %>
  <% if can? :manager, clip %>
    <div class="floating_actions">
      <%= js_action_to 'Editar sección', "pen_alt_stroke", edit_document_clip_path(clip.parent, clip) %>
    </div>
  <% end %>
  <%= clip.body_rendered  %>
<% end %>