.sprite-nav {
   background: url(/images/csg-4baeb7d3c721d.png) no-repeat top left;
}
.sprite-nav-accounticon { background-position: 0 0; width: 64px; height: 64px; }
.sprite-nav-archivesicon { background-position: -69px 0; width: 64px; height: 64px; }
.sprite-nav-bookaicon { background-position: -138px 0; width: 64px; height: 64px; }
.sprite-nav-calendaricon { background-position: -207px 0; width: 97px; height: 64px; }
.sprite-nav-contacticon { background-position: -309px 0; width: 64px; height: 64px; }
.sprite-nav-editionicon { background-position: -378px 0; width: 64px; height: 64px; }
.sprite-nav-entranceicon { background-position: -447px 0; width: 64px; height: 64px; }
.sprite-nav-loginicon { background-position: -516px 0; width: 64px; height: 64px; }

.iconic {
   background: url(/images/csg-4baeb88c1b8cc.png) no-repeat top left;
}

.iconic-arrow_down_12x12 { background-position: 0 0; width: 12px; height: 12px; }
.iconic-arrow_down_16x16 { background-position: -17px 0; width: 16px; height: 16px; }
.iconic-arrow_down_24x24 { background-position: -38px 0; width: 24px; height: 24px; }
.iconic-arrow_down_32x32 { background-position: -67px 0; width: 32px; height: 32px; }
.iconic-arrow_down_8x8 { background-position: -104px 0; width: 8px; height: 8px; }
.iconic-arrow_down_alt1_12x12 { background-position: -117px 0; width: 12px; height: 12px; }
.iconic-arrow_down_alt1_16x16 { background-position: -134px 0; width: 16px; height: 16px; }
.iconic-arrow_down_alt1_24x24 { background-position: -155px 0; width: 24px; height: 24px; }
.iconic-arrow_down_alt1_32x32 { background-position: -184px 0; width: 32px; height: 32px; }
.iconic-arrow_down_alt1_8x8 { background-position: -221px 0; width: 8px; height: 8px; }
.iconic-arrow_down_alt2_12x12 { background-position: -234px 0; width: 12px; height: 12px; }
.iconic-arrow_down_alt2_16x16 { background-position: -251px 0; width: 16px; height: 16px; }
.iconic-arrow_down_alt2_24x24 { background-position: -272px 0; width: 24px; height: 24px; }
.iconic-arrow_down_alt2_32x32 { background-position: -301px 0; width: 32px; height: 32px; }
.iconic-arrow_down_alt2_8x8 { background-position: -338px 0; width: 8px; height: 8px; }
.iconic-arrow_left_12x12 { background-position: -351px 0; width: 12px; height: 12px; }
.iconic-arrow_left_16x16 { background-position: -368px 0; width: 16px; height: 16px; }
.iconic-arrow_left_24x24 { background-position: -389px 0; width: 24px; height: 24px; }
.iconic-arrow_left_32x32 { background-position: -418px 0; width: 32px; height: 32px; }
.iconic-arrow_left_8x8 { background-position: -455px 0; width: 8px; height: 8px; }
.iconic-arrow_left_alt1_12x12 { background-position: -468px 0; width: 12px; height: 12px; }
.iconic-arrow_left_alt1_16x16 { background-position: -485px 0; width: 16px; height: 16px; }
.iconic-arrow_left_alt1_24x24 { background-position: -506px 0; width: 24px; height: 24px; }
.iconic-arrow_left_alt1_32x32 { background-position: -535px 0; width: 32px; height: 32px; }
.iconic-arrow_left_alt1_8x8 { background-position: -572px 0; width: 8px; height: 8px; }
.iconic-arrow_left_alt2_12x12 { background-position: -585px 0; width: 12px; height: 12px; }
.iconic-arrow_left_alt2_16x16 { background-position: -602px 0; width: 16px; height: 16px; }
.iconic-arrow_left_alt2_24x24 { background-position: -623px 0; width: 24px; height: 24px; }
.iconic-arrow_left_alt2_32x32 { background-position: -652px 0; width: 32px; height: 32px; }
.iconic-arrow_left_alt2_8x8 { background-position: -689px 0; width: 8px; height: 8px; }
.iconic-arrow_right_12x12 { background-position: -702px 0; width: 12px; height: 12px; }
.iconic-arrow_right_16x16 { background-position: -719px 0; width: 16px; height: 16px; }
.iconic-arrow_right_24x24 { background-position: -740px 0; width: 24px; height: 24px; }
.iconic-arrow_right_32x32 { background-position: -769px 0; width: 32px; height: 32px; }
.iconic-arrow_right_8x8 { background-position: -806px 0; width: 8px; height: 8px; }
.iconic-arrow_right_alt1_12x12 { background-position: -819px 0; width: 12px; height: 12px; }
.iconic-arrow_right_alt1_16x16 { background-position: -836px 0; width: 16px; height: 16px; }
.iconic-arrow_right_alt1_24x24 { background-position: -857px 0; width: 24px; height: 24px; }
.iconic-arrow_right_alt1_32x32 { background-position: -886px 0; width: 32px; height: 32px; }
.iconic-arrow_right_alt1_8x8 { background-position: -923px 0; width: 8px; height: 8px; }
.iconic-arrow_right_alt2_12x12 { background-position: -936px 0; width: 12px; height: 12px; }
.iconic-arrow_right_alt2_16x16 { background-position: -953px 0; width: 16px; height: 16px; }
.iconic-arrow_right_alt2_24x24 { background-position: -974px 0; width: 24px; height: 24px; }
.iconic-arrow_right_alt2_32x32 { background-position: -1003px 0; width: 32px; height: 32px; }
.iconic-arrow_right_alt2_8x8 { background-position: -1040px 0; width: 8px; height: 8px; }
.iconic-arrow_up_12x12 { background-position: -1053px 0; width: 12px; height: 12px; }
.iconic-arrow_up_16x16 { background-position: -1070px 0; width: 16px; height: 16px; }
.iconic-arrow_up_24x24 { background-position: -1091px 0; width: 24px; height: 24px; }
.iconic-arrow_up_32x32 { background-position: -1120px 0; width: 32px; height: 32px; }
.iconic-arrow_up_8x8 { background-position: -1157px 0; width: 8px; height: 8px; }
.iconic-arrow_up_alt1_12x12 { background-position: -1170px 0; width: 12px; height: 12px; }
.iconic-arrow_up_alt1_16x16 { background-position: -1187px 0; width: 16px; height: 16px; }
.iconic-arrow_up_alt1_24x24 { background-position: -1208px 0; width: 24px; height: 24px; }
.iconic-arrow_up_alt1_32x32 { background-position: -1237px 0; width: 32px; height: 32px; }
.iconic-arrow_up_alt1_8x8 { background-position: -1274px 0; width: 8px; height: 8px; }
.iconic-arrow_up_alt2_12x12 { background-position: -1287px 0; width: 12px; height: 12px; }
.iconic-arrow_up_alt2_16x16 { background-position: -1304px 0; width: 16px; height: 16px; }
.iconic-arrow_up_alt2_24x24 { background-position: -1325px 0; width: 24px; height: 24px; }
.iconic-arrow_up_alt2_32x32 { background-position: -1354px 0; width: 32px; height: 32px; }
.iconic-arrow_up_alt2_8x8 { background-position: -1391px 0; width: 8px; height: 8px; }
.iconic-article_12x12 { background-position: -1404px 0; width: 12px; height: 12px; }
.iconic-article_16x16 { background-position: -1421px 0; width: 16px; height: 16px; }
.iconic-article_24x24 { background-position: -1442px 0; width: 24px; height: 24px; }
.iconic-article_32x32 { background-position: -1471px 0; width: 32px; height: 32px; }
.iconic-article_8x8 { background-position: -1508px 0; width: 8px; height: 8px; }
.iconic-beaker_12x24 { background-position: -1521px 0; width: 12px; height: 24px; }
.iconic-beaker_16x32 { background-position: -1538px 0; width: 16px; height: 32px; }
.iconic-beaker_4x8 { background-position: -1559px 0; width: 4px; height: 8px; }
.iconic-beaker_6x12 { background-position: -1568px 0; width: 6px; height: 12px; }
.iconic-beaker_8x16 { background-position: -1579px 0; width: 8px; height: 16px; }
.iconic-beaker_alt_12x24 { background-position: -1592px 0; width: 12px; height: 24px; }
.iconic-beaker_alt_16x32 { background-position: -1609px 0; width: 16px; height: 32px; }
.iconic-beaker_alt_4x8 { background-position: -1630px 0; width: 4px; height: 8px; }
.iconic-beaker_alt_6x12 { background-position: -1639px 0; width: 6px; height: 12px; }
.iconic-beaker_alt_8x16 { background-position: -1650px 0; width: 8px; height: 16px; }
.iconic-bolt_12x12 { background-position: -1663px 0; width: 12px; height: 12px; }
.iconic-bolt_16x16 { background-position: -1680px 0; width: 16px; height: 16px; }
.iconic-bolt_24x24 { background-position: -1701px 0; width: 24px; height: 24px; }
.iconic-bolt_32x32 { background-position: -1730px 0; width: 32px; height: 32px; }
.iconic-bolt_8x8 { background-position: -1767px 0; width: 8px; height: 8px; }
.iconic-book_12x12 { background-position: -1780px 0; width: 11px; height: 12px; }
.iconic-book_16x16 { background-position: -1796px 0; width: 14px; height: 16px; }
.iconic-book_24x24 { background-position: -1815px 0; width: 21px; height: 24px; }
.iconic-book_32x32 { background-position: -1841px 0; width: 28px; height: 32px; }
.iconic-book_8x8 { background-position: -1874px 0; width: 7px; height: 8px; }
.iconic-book_alt_12x12 { background-position: -1886px 0; width: 12px; height: 12px; }
.iconic-book_alt_16x16 { background-position: -1903px 0; width: 16px; height: 16px; }
.iconic-book_alt_24x24 { background-position: -1924px 0; width: 24px; height: 24px; }
.iconic-book_alt_32x32 { background-position: -1953px 0; width: 32px; height: 32px; }
.iconic-book_alt_8x8 { background-position: -1990px 0; width: 8px; height: 8px; }
.iconic-box_12x12 { background-position: 0 -37px; width: 12px; height: 12px; }
.iconic-box_16x16 { background-position: -17px -37px; width: 16px; height: 16px; }
.iconic-box_24x24 { background-position: -38px -37px; width: 24px; height: 24px; }
.iconic-box_32x32 { background-position: -67px -37px; width: 32px; height: 32px; }
.iconic-box_8x8 { background-position: -104px -37px; width: 8px; height: 8px; }
.iconic-calendar_12x12 { background-position: -117px -37px; width: 12px; height: 12px; }
.iconic-calendar_16x16 { background-position: -134px -37px; width: 16px; height: 16px; }
.iconic-calendar_24x24 { background-position: -155px -37px; width: 24px; height: 24px; }
.iconic-calendar_32x32 { background-position: -184px -37px; width: 32px; height: 32px; }
.iconic-calendar_8x8 { background-position: -221px -37px; width: 8px; height: 8px; }
.iconic-calendar_alt_fill_12x12 { background-position: -234px -37px; width: 12px; height: 12px; }
.iconic-calendar_alt_fill_16x16 { background-position: -251px -37px; width: 16px; height: 16px; }
.iconic-calendar_alt_fill_24x24 { background-position: -272px -37px; width: 24px; height: 24px; }
.iconic-calendar_alt_fill_32x32 { background-position: -301px -37px; width: 32px; height: 32px; }
.iconic-calendar_alt_fill_8x8 { background-position: -338px -37px; width: 8px; height: 8px; }
.iconic-calendar_alt_stroke_12x12 { background-position: -351px -37px; width: 12px; height: 12px; }
.iconic-calendar_alt_stroke_16x16 { background-position: -368px -37px; width: 16px; height: 16px; }
.iconic-calendar_alt_stroke_24x24 { background-position: -389px -37px; width: 24px; height: 24px; }
.iconic-calendar_alt_stroke_32x32 { background-position: -418px -37px; width: 32px; height: 32px; }
.iconic-calendar_alt_stroke_8x8 { background-position: -455px -37px; width: 8px; height: 8px; }
.iconic-cd_12x12 { background-position: -468px -37px; width: 12px; height: 12px; }
.iconic-cd_16x16 { background-position: -485px -37px; width: 16px; height: 16px; }
.iconic-cd_24x24 { background-position: -506px -37px; width: 24px; height: 24px; }
.iconic-cd_32x32 { background-position: -535px -37px; width: 32px; height: 32px; }
.iconic-cd_8x8 { background-position: -572px -37px; width: 8px; height: 8px; }
.iconic-chat_12x12 { background-position: -585px -37px; width: 12px; height: 12px; }
.iconic-chat_16x16 { background-position: -602px -37px; width: 16px; height: 16px; }
.iconic-chat_24x24 { background-position: -623px -37px; width: 24px; height: 24px; }
.iconic-chat_32x32 { background-position: -652px -37px; width: 32px; height: 32px; }
.iconic-chat_8x8 { background-position: -689px -37px; width: 8px; height: 8px; }
.iconic-chat_alt_fill_12x12 { background-position: -702px -37px; width: 12px; height: 12px; }
.iconic-chat_alt_fill_16x16 { background-position: -719px -37px; width: 16px; height: 16px; }
.iconic-chat_alt_fill_24x24 { background-position: -740px -37px; width: 24px; height: 24px; }
.iconic-chat_alt_fill_32x32 { background-position: -769px -37px; width: 32px; height: 32px; }
.iconic-chat_alt_fill_8x8 { background-position: -806px -37px; width: 8px; height: 8px; }
.iconic-chat_alt_stroke_12x12 { background-position: -819px -37px; width: 12px; height: 12px; }
.iconic-chat_alt_stroke_16x16 { background-position: -836px -37px; width: 16px; height: 16px; }
.iconic-chat_alt_stroke_24x24 { background-position: -857px -37px; width: 24px; height: 24px; }
.iconic-chat_alt_stroke_32x32 { background-position: -886px -37px; width: 32px; height: 32px; }
.iconic-chat_alt_stroke_8x8 { background-position: -923px -37px; width: 8px; height: 8px; }
.iconic-check_12x10 { background-position: -936px -37px; width: 12px; height: 10px; }
.iconic-check_16x13 { background-position: -953px -37px; width: 16px; height: 13px; }
.iconic-check_24x20 { background-position: -974px -37px; width: 24px; height: 19px; }
.iconic-check_32x26 { background-position: -1003px -37px; width: 32px; height: 26px; }
.iconic-check_8x7 { background-position: -1040px -37px; width: 8px; height: 6px; }
.iconic-check_alt_12x12 { background-position: -1053px -37px; width: 12px; height: 12px; }
.iconic-check_alt_16x16 { background-position: -1070px -37px; width: 16px; height: 16px; }
.iconic-check_alt_24x24 { background-position: -1091px -37px; width: 24px; height: 24px; }
.iconic-check_alt_32x32 { background-position: -1120px -37px; width: 32px; height: 32px; }
.iconic-check_alt_8x8 { background-position: -1157px -37px; width: 8px; height: 8px; }
.iconic-clock_12x12 { background-position: -1170px -37px; width: 12px; height: 12px; }
.iconic-clock_16x16 { background-position: -1187px -37px; width: 16px; height: 16px; }
.iconic-clock_24x24 { background-position: -1208px -37px; width: 24px; height: 24px; }
.iconic-clock_32x32 { background-position: -1237px -37px; width: 32px; height: 32px; }
.iconic-clock_8x8 { background-position: -1274px -37px; width: 8px; height: 8px; }
.iconic-cog_12x12 { background-position: -1287px -37px; width: 12px; height: 12px; }
.iconic-cog_16x16 { background-position: -1304px -37px; width: 16px; height: 16px; }
.iconic-cog_24x24 { background-position: -1325px -37px; width: 24px; height: 24px; }
.iconic-cog_32x32 { background-position: -1354px -37px; width: 32px; height: 32px; }
.iconic-cog_8x8 { background-position: -1391px -37px; width: 8px; height: 8px; }
.iconic-cog_alt_12x12 { background-position: -1404px -37px; width: 12px; height: 12px; }
.iconic-cog_alt_16x16 { background-position: -1421px -37px; width: 16px; height: 16px; }
.iconic-cog_alt_24x24 { background-position: -1442px -37px; width: 24px; height: 24px; }
.iconic-cog_alt_32x32 { background-position: -1471px -37px; width: 32px; height: 32px; }
.iconic-cog_alt_8x8 { background-position: -1508px -37px; width: 8px; height: 8px; }
.iconic-comment_alt1_fill_12x12 { background-position: -1521px -37px; width: 12px; height: 12px; }
.iconic-comment_alt1_fill_16x16 { background-position: -1538px -37px; width: 16px; height: 16px; }
.iconic-comment_alt1_fill_24x24 { background-position: -1559px -37px; width: 24px; height: 24px; }
.iconic-comment_alt1_fill_32x32 { background-position: -1588px -37px; width: 32px; height: 32px; }
.iconic-comment_alt1_fill_8x8 { background-position: -1625px -37px; width: 8px; height: 8px; }
.iconic-comment_alt1_stroke_12x12 { background-position: -1638px -37px; width: 12px; height: 12px; }
.iconic-comment_alt1_stroke_16x16 { background-position: -1655px -37px; width: 16px; height: 16px; }
.iconic-comment_alt1_stroke_24x24 { background-position: -1676px -37px; width: 24px; height: 24px; }
.iconic-comment_alt1_stroke_32x32 { background-position: -1705px -37px; width: 32px; height: 32px; }
.iconic-comment_alt1_stroke_8x8 { background-position: -1742px -37px; width: 8px; height: 8px; }
.iconic-comment_alt2_fill_12x16 { background-position: -1755px -37px; width: 16px; height: 12px; }
.iconic-comment_alt2_fill_18x24 { background-position: -1776px -37px; width: 24px; height: 18px; }
.iconic-comment_alt2_fill_24x32 { background-position: -1805px -37px; width: 32px; height: 24px; }
.iconic-comment_alt2_fill_6x8 { background-position: -1842px -37px; width: 8px; height: 6px; }
.iconic-comment_alt2_fill_9x12 { background-position: -1855px -37px; width: 12px; height: 9px; }
.iconic-comment_alt2_stroke_12x9 { background-position: -1872px -37px; width: 12px; height: 9px; }
.iconic-comment_alt2_stroke_16x12 { background-position: -1889px -37px; width: 16px; height: 12px; }
.iconic-comment_alt2_stroke_24x18 { background-position: -1910px -37px; width: 24px; height: 18px; }
.iconic-comment_alt2_stroke_32x24 { background-position: -1939px -37px; width: 32px; height: 24px; }
.iconic-comment_alt2_stroke_8x6 { background-position: -1976px -37px; width: 8px; height: 6px; }
.iconic-comment_fill_12x11 { background-position: -1989px -37px; width: 12px; height: 11px; }
.iconic-comment_fill_16x14 { background-position: 0 -74px; width: 16px; height: 14px; }
.iconic-comment_fill_24x21 { background-position: -21px -74px; width: 24px; height: 21px; }
.iconic-comment_fill_32x28 { background-position: -50px -74px; width: 32px; height: 28px; }
.iconic-comment_fill_8x7 { background-position: -87px -74px; width: 8px; height: 7px; }
.iconic-comment_stroke_12x11 { background-position: -100px -74px; width: 12px; height: 11px; }
.iconic-comment_stroke_16x14 { background-position: -117px -74px; width: 16px; height: 14px; }
.iconic-comment_stroke_24x21 { background-position: -138px -74px; width: 24px; height: 21px; }
.iconic-comment_stroke_32x28 { background-position: -167px -74px; width: 32px; height: 28px; }
.iconic-comment_stroke_8x7 { background-position: -204px -74px; width: 8px; height: 7px; }
.iconic-denied_12x12 { background-position: -217px -74px; width: 12px; height: 12px; }
.iconic-denied_16x16 { background-position: -234px -74px; width: 16px; height: 16px; }
.iconic-denied_24x24 { background-position: -255px -74px; width: 24px; height: 24px; }
.iconic-denied_32x32 { background-position: -284px -74px; width: 32px; height: 32px; }
.iconic-denied_8x8 { background-position: -321px -74px; width: 8px; height: 8px; }
.iconic-denied_alt_12x12 { background-position: -334px -74px; width: 12px; height: 12px; }
.iconic-denied_alt_16x16 { background-position: -351px -74px; width: 16px; height: 16px; }
.iconic-denied_alt_24x24 { background-position: -372px -74px; width: 24px; height: 24px; }
.iconic-denied_alt_32x32 { background-position: -401px -74px; width: 32px; height: 32px; }
.iconic-denied_alt_8x8 { background-position: -438px -74px; width: 8px; height: 8px; }
.iconic-document_fill_12x12 { background-position: -451px -74px; width: 12px; height: 12px; }
.iconic-document_fill_16x16 { background-position: -468px -74px; width: 16px; height: 16px; }
.iconic-document_fill_24x24 { background-position: -489px -74px; width: 24px; height: 24px; }
.iconic-document_fill_32x32 { background-position: -518px -74px; width: 32px; height: 32px; }
.iconic-document_fill_8x8 { background-position: -555px -74px; width: 8px; height: 8px; }
.iconic-document_stroke_12x12 { background-position: -568px -74px; width: 12px; height: 12px; }
.iconic-document_stroke_16x16 { background-position: -585px -74px; width: 16px; height: 16px; }
.iconic-document_stroke_24x24 { background-position: -606px -74px; width: 24px; height: 24px; }
.iconic-document_stroke_32x32 { background-position: -635px -74px; width: 32px; height: 32px; }
.iconic-document_stroke_8x8 { background-position: -672px -74px; width: 8px; height: 8px; }
.iconic-eject_12x12 { background-position: -685px -74px; width: 12px; height: 12px; }
.iconic-eject_16x16 { background-position: -702px -74px; width: 16px; height: 16px; }
.iconic-eject_24x24 { background-position: -723px -74px; width: 24px; height: 24px; }
.iconic-eject_32x32 { background-position: -752px -74px; width: 32px; height: 32px; }
.iconic-eject_8x8 { background-position: -789px -74px; width: 8px; height: 8px; }
.iconic-equalizer_12x12 { background-position: -802px -74px; width: 12px; height: 12px; }
.iconic-equalizer_16x16 { background-position: -819px -74px; width: 16px; height: 16px; }
.iconic-equalizer_24x24 { background-position: -840px -74px; width: 24px; height: 24px; }
.iconic-equalizer_32x32 { background-position: -869px -74px; width: 32px; height: 32px; }
.iconic-equalizer_8x8 { background-position: -906px -74px; width: 8px; height: 8px; }
.iconic-eyedropper_12x12 { background-position: -919px -74px; width: 12px; height: 12px; }
.iconic-eyedropper_16x16 { background-position: -936px -74px; width: 16px; height: 16px; }
.iconic-eyedropper_24x24 { background-position: -957px -74px; width: 24px; height: 24px; }
.iconic-eyedropper_32x32 { background-position: -986px -74px; width: 32px; height: 32px; }
.iconic-eyedropper_8x8 { background-position: -1023px -74px; width: 8px; height: 8px; }
.iconic-first_12x12 { background-position: -1036px -74px; width: 12px; height: 12px; }
.iconic-first_16x16 { background-position: -1053px -74px; width: 16px; height: 16px; }
.iconic-first_24x24 { background-position: -1074px -74px; width: 24px; height: 24px; }
.iconic-first_32x32 { background-position: -1103px -74px; width: 32px; height: 32px; }
.iconic-first_8x8 { background-position: -1140px -74px; width: 8px; height: 8px; }
.iconic-fullscreen_12x12 { background-position: -1153px -74px; width: 12px; height: 12px; }
.iconic-fullscreen_16x16 { background-position: -1170px -74px; width: 16px; height: 16px; }
.iconic-fullscreen_24x24 { background-position: -1191px -74px; width: 24px; height: 24px; }
.iconic-fullscreen_32x32 { background-position: -1220px -74px; width: 32px; height: 32px; }
.iconic-fullscreen_8x8 { background-position: -1257px -74px; width: 8px; height: 8px; }
.iconic-fullscreen_alt_12x12 { background-position: -1270px -74px; width: 12px; height: 12px; }
.iconic-fullscreen_alt_16x16 { background-position: -1287px -74px; width: 16px; height: 16px; }
.iconic-fullscreen_alt_24x24 { background-position: -1308px -74px; width: 24px; height: 24px; }
.iconic-fullscreen_alt_32x32 { background-position: -1337px -74px; width: 32px; height: 32px; }
.iconic-fullscreen_alt_8x8 { background-position: -1374px -74px; width: 8px; height: 8px; }
.iconic-fullscreen_exit_12x12 { background-position: -1387px -74px; width: 12px; height: 12px; }
.iconic-fullscreen_exit_16x16 { background-position: -1404px -74px; width: 16px; height: 16px; }
.iconic-fullscreen_exit_24x24 { background-position: -1425px -74px; width: 24px; height: 24px; }
.iconic-fullscreen_exit_32x32 { background-position: -1454px -74px; width: 32px; height: 32px; }
.iconic-fullscreen_exit_8x8 { background-position: -1491px -74px; width: 8px; height: 8px; }
.iconic-fullscreen_exit_alt_12x12 { background-position: -1504px -74px; width: 12px; height: 12px; }
.iconic-fullscreen_exit_alt_16x16 { background-position: -1521px -74px; width: 16px; height: 16px; }
.iconic-fullscreen_exit_alt_24x24 { background-position: -1542px -74px; width: 24px; height: 24px; }
.iconic-fullscreen_exit_alt_32x32 { background-position: -1571px -74px; width: 32px; height: 32px; }
.iconic-fullscreen_exit_alt_8x8 { background-position: -1608px -74px; width: 8px; height: 8px; }
.iconic-heaphones_12x11 { background-position: -1621px -74px; width: 12px; height: 11px; }
.iconic-heaphones_16x14 { background-position: -1638px -74px; width: 16px; height: 14px; }
.iconic-heaphones_24x21 { background-position: -1659px -74px; width: 24px; height: 21px; }
.iconic-heaphones_32x28 { background-position: -1688px -74px; width: 32px; height: 28px; }
.iconic-heaphones_8x7 { background-position: -1725px -74px; width: 8px; height: 7px; }
.iconic-heart_fill_12x11 { background-position: -1738px -74px; width: 12px; height: 11px; }
.iconic-heart_fill_16x14 { background-position: -1755px -74px; width: 16px; height: 14px; }
.iconic-heart_fill_24x21 { background-position: -1776px -74px; width: 24px; height: 21px; }
.iconic-heart_fill_32x38 { background-position: -1805px -74px; width: 32px; height: 28px; }
.iconic-heart_fill_8x7 { background-position: -1842px -74px; width: 8px; height: 7px; }
.iconic-heart_stroke_12x11 { background-position: -1855px -74px; width: 12px; height: 11px; }
.iconic-heart_stroke_16x14 { background-position: -1872px -74px; width: 16px; height: 14px; }
.iconic-heart_stroke_24x21 { background-position: -1893px -74px; width: 24px; height: 21px; }
.iconic-heart_stroke_32x28 { background-position: -1922px -74px; width: 32px; height: 28px; }
.iconic-heart_stroke_8x7 { background-position: -1959px -74px; width: 8px; height: 7px; }
.iconic-home_12x12 { background-position: -1972px -74px; width: 12px; height: 12px; }
.iconic-home_16x16 { background-position: -1989px -74px; width: 16px; height: 16px; }
.iconic-home_24x24 { background-position: 0 -111px; width: 24px; height: 24px; }
.iconic-home_32x32 { background-position: -29px -111px; width: 32px; height: 32px; }
.iconic-home_8x8 { background-position: -66px -111px; width: 8px; height: 8px; }
.iconic-image_12x12 { background-position: -79px -111px; width: 12px; height: 12px; }
.iconic-image_16x16 { background-position: -96px -111px; width: 16px; height: 16px; }
.iconic-image_24x24 { background-position: -117px -111px; width: 24px; height: 24px; }
.iconic-image_32x32 { background-position: -146px -111px; width: 32px; height: 32px; }
.iconic-image_8x8 { background-position: -183px -111px; width: 8px; height: 8px; }
.iconic-iphone_12x16 { background-position: -196px -111px; width: 12px; height: 16px; }
.iconic-iphone_18x24 { background-position: -213px -111px; width: 18px; height: 24px; }
.iconic-iphone_24x32 { background-position: -236px -111px; width: 24px; height: 32px; }
.iconic-iphone_6x8 { background-position: -265px -111px; width: 6px; height: 8px; }
.iconic-iphone_9x12 { background-position: -276px -111px; width: 9px; height: 12px; }
.iconic-key_fill_12x12 { background-position: -290px -111px; width: 12px; height: 12px; }
.iconic-key_fill_16x16 { background-position: -307px -111px; width: 16px; height: 16px; }
.iconic-key_fill_24x24 { background-position: -328px -111px; width: 24px; height: 24px; }
.iconic-key_fill_32x32 { background-position: -357px -111px; width: 32px; height: 32px; }
.iconic-key_fill_8x8 { background-position: -394px -111px; width: 8px; height: 8px; }
.iconic-key_stroke_12x12 { background-position: -407px -111px; width: 12px; height: 12px; }
.iconic-key_stroke_16x16 { background-position: -424px -111px; width: 16px; height: 16px; }
.iconic-key_stroke_24x24 { background-position: -445px -111px; width: 24px; height: 24px; }
.iconic-key_stroke_32x32 { background-position: -474px -111px; width: 32px; height: 32px; }
.iconic-key_stroke_8x8 { background-position: -511px -111px; width: 8px; height: 8px; }
.iconic-last_12x12 { background-position: -524px -111px; width: 12px; height: 12px; }
.iconic-last_16x16 { background-position: -541px -111px; width: 16px; height: 16px; }
.iconic-last_24x24 { background-position: -562px -111px; width: 24px; height: 24px; }
.iconic-last_32x32 { background-position: -591px -111px; width: 32px; height: 32px; }
.iconic-last_8x8 { background-position: -628px -111px; width: 8px; height: 8px; }
.iconic-left_quote_12x12 { background-position: -641px -111px; width: 12px; height: 9px; }
.iconic-left_quote_16x16 { background-position: -658px -111px; width: 16px; height: 12px; }
.iconic-left_quote_24x24 { background-position: -679px -111px; width: 24px; height: 18px; }
.iconic-left_quote_32x32 { background-position: -708px -111px; width: 32px; height: 24px; }
.iconic-left_quote_8x8 { background-position: -745px -111px; width: 8px; height: 6px; }
.iconic-left_quote_alt_12x12 { background-position: -758px -111px; width: 12px; height: 9px; }
.iconic-left_quote_alt_16x16 { background-position: -775px -111px; width: 16px; height: 12px; }
.iconic-left_quote_alt_24x24 { background-position: -796px -111px; width: 24px; height: 18px; }
.iconic-left_quote_alt_32x32 { background-position: -825px -111px; width: 32px; height: 24px; }
.iconic-left_quote_alt_8x8 { background-position: -862px -111px; width: 8px; height: 6px; }
.iconic-lightbulb_10x16 { background-position: -875px -111px; width: 10px; height: 16px; }
.iconic-lightbulb_15x24 { background-position: -890px -111px; width: 15px; height: 24px; }
.iconic-lightbulb_20x32 { background-position: -910px -111px; width: 20px; height: 32px; }
.iconic-lightbulb_5x8 { background-position: -935px -111px; width: 5px; height: 8px; }
.iconic-lightbulb_8x12 { background-position: -945px -111px; width: 8px; height: 12px; }
.iconic-lock_fill_12x16 { background-position: -958px -111px; width: 12px; height: 16px; }
.iconic-lock_fill_18x24 { background-position: -975px -111px; width: 18px; height: 24px; }
.iconic-lock_fill_24x32 { background-position: -998px -111px; width: 24px; height: 32px; }
.iconic-lock_fill_6x8 { background-position: -1027px -111px; width: 6px; height: 8px; }
.iconic-lock_fill_9x12 { background-position: -1038px -111px; width: 9px; height: 12px; }
.iconic-lock_stroke_12x16 { background-position: -1052px -111px; width: 12px; height: 16px; }
.iconic-lock_stroke_18x24 { background-position: -1069px -111px; width: 18px; height: 24px; }
.iconic-lock_stroke_24x32 { background-position: -1092px -111px; width: 24px; height: 32px; }
.iconic-lock_stroke_6x8 { background-position: -1121px -111px; width: 6px; height: 8px; }
.iconic-lock_stroke_9x12 { background-position: -1132px -111px; width: 9px; height: 12px; }
.iconic-loop_12x12 { background-position: -1146px -111px; width: 12px; height: 12px; }
.iconic-loop_16x16 { background-position: -1163px -111px; width: 16px; height: 16px; }
.iconic-loop_24x24 { background-position: -1184px -111px; width: 24px; height: 24px; }
.iconic-loop_32x32 { background-position: -1213px -111px; width: 32px; height: 32px; }
.iconic-loop_8x8 { background-position: -1250px -111px; width: 8px; height: 8px; }
.iconic-magnifying_glass_12x12 { background-position: -1263px -111px; width: 12px; height: 12px; }
.iconic-magnifying_glass_16x16 { background-position: -1280px -111px; width: 16px; height: 16px; }
.iconic-magnifying_glass_24x24 { background-position: -1301px -111px; width: 24px; height: 24px; }
.iconic-magnifying_glass_32x32 { background-position: -1330px -111px; width: 32px; height: 32px; }
.iconic-magnifying_glass_8x8 { background-position: -1367px -111px; width: 8px; height: 8px; }
.iconic-magnifying_glass_alt_12x12 { background-position: -1380px -111px; width: 12px; height: 12px; }
.iconic-magnifying_glass_alt_16x16 { background-position: -1397px -111px; width: 16px; height: 16px; }
.iconic-magnifying_glass_alt_24x24 { background-position: -1418px -111px; width: 24px; height: 24px; }
.iconic-magnifying_glass_alt_32x32 { background-position: -1447px -111px; width: 32px; height: 32px; }
.iconic-magnifying_glass_alt_8x8 { background-position: -1484px -111px; width: 8px; height: 8px; }
.iconic-mail_12x9 { background-position: -1497px -111px; width: 12px; height: 9px; }
.iconic-mail_16x12 { background-position: -1514px -111px; width: 16px; height: 12px; }
.iconic-mail_24x18 { background-position: -1535px -111px; width: 24px; height: 18px; }
.iconic-mail_32x24 { background-position: -1564px -111px; width: 32px; height: 24px; }
.iconic-mail_8x6 { background-position: -1601px -111px; width: 8px; height: 6px; }
.iconic-minus_12x3 { background-position: -1614px -111px; width: 12px; height: 3px; }
.iconic-minus_16x4 { background-position: -1631px -111px; width: 16px; height: 4px; }
.iconic-minus_24x6 { background-position: -1652px -111px; width: 24px; height: 6px; }
.iconic-minus_32x8 { background-position: -1681px -111px; width: 32px; height: 8px; }
.iconic-minus_8x2 { background-position: -1718px -111px; width: 8px; height: 2px; }
.iconic-minus_alt_12x12 { background-position: -1731px -111px; width: 12px; height: 12px; }
.iconic-minus_alt_16x16 { background-position: -1748px -111px; width: 16px; height: 16px; }
.iconic-minus_alt_24x24 { background-position: -1769px -111px; width: 24px; height: 24px; }
.iconic-minus_alt_32x32 { background-position: -1798px -111px; width: 32px; height: 32px; }
.iconic-minus_alt_8x8 { background-position: -1835px -111px; width: 8px; height: 8px; }
.iconic-moon_fill_12x12 { background-position: -1848px -111px; width: 12px; height: 12px; }
.iconic-moon_fill_16x16 { background-position: -1865px -111px; width: 16px; height: 16px; }
.iconic-moon_fill_24x24 { background-position: -1886px -111px; width: 24px; height: 24px; }
.iconic-moon_fill_32x32 { background-position: -1915px -111px; width: 32px; height: 32px; }
.iconic-moon_fill_8x8 { background-position: -1952px -111px; width: 8px; height: 8px; }
.iconic-moon_stroke_12x12 { background-position: -1965px -111px; width: 12px; height: 12px; }
.iconic-moon_stroke_16x16 { background-position: -1982px -111px; width: 16px; height: 16px; }
.iconic-moon_stroke_24x24 { background-position: 0 -148px; width: 24px; height: 24px; }
.iconic-moon_stroke_32x32 { background-position: -29px -148px; width: 32px; height: 32px; }
.iconic-moon_stroke_8x8 { background-position: -66px -148px; width: 8px; height: 8px; }
.iconic-move_12x12 { background-position: -79px -148px; width: 12px; height: 12px; }
.iconic-move_16x16 { background-position: -96px -148px; width: 16px; height: 16px; }
.iconic-move_24x24 { background-position: -117px -148px; width: 24px; height: 24px; }
.iconic-move_32x32 { background-position: -146px -148px; width: 32px; height: 32px; }
.iconic-move_8x8 { background-position: -183px -148px; width: 8px; height: 8px; }
.iconic-move_alt1_12x12 { background-position: -196px -148px; width: 12px; height: 12px; }
.iconic-move_alt1_16x16 { background-position: -213px -148px; width: 16px; height: 16px; }
.iconic-move_alt1_24x24 { background-position: -234px -148px; width: 24px; height: 24px; }
.iconic-move_alt1_32x32 { background-position: -263px -148px; width: 32px; height: 32px; }
.iconic-move_alt1_8x8 { background-position: -300px -148px; width: 8px; height: 8px; }
.iconic-move_alt2_12x12 { background-position: -313px -148px; width: 12px; height: 12px; }
.iconic-move_alt2_16x16 { background-position: -330px -148px; width: 16px; height: 16px; }
.iconic-move_alt2_24x24 { background-position: -351px -148px; width: 24px; height: 24px; }
.iconic-move_alt2_32x32 { background-position: -380px -148px; width: 32px; height: 32px; }
.iconic-move_alt2_8x8 { background-position: -417px -148px; width: 8px; height: 8px; }
.iconic-new_window_12x12 { background-position: -430px -148px; width: 12px; height: 12px; }
.iconic-new_window_16x16 { background-position: -447px -148px; width: 16px; height: 16px; }
.iconic-new_window_24x24 { background-position: -468px -148px; width: 24px; height: 24px; }
.iconic-new_window_32x32 { background-position: -497px -148px; width: 32px; height: 32px; }
.iconic-new_window_8x8 { background-position: -534px -148px; width: 8px; height: 8px; }
.iconic-pause_12x16 { background-position: -547px -148px; width: 12px; height: 16px; }
.iconic-pause_18x24 { background-position: -564px -148px; width: 18px; height: 24px; }
.iconic-pause_24x32 { background-position: -587px -148px; width: 24px; height: 32px; }
.iconic-pause_6x8 { background-position: -616px -148px; width: 6px; height: 8px; }
.iconic-pause_9x12 { background-position: -627px -148px; width: 9px; height: 12px; }
.iconic-pen_12x12 { background-position: -641px -148px; width: 12px; height: 12px; }
.iconic-pen_16x16 { background-position: -658px -148px; width: 16px; height: 16px; }
.iconic-pen_24x24 { background-position: -679px -148px; width: 24px; height: 24px; }
.iconic-pen_32x32 { background-position: -708px -148px; width: 32px; height: 32px; }
.iconic-pen_8x8 { background-position: -745px -148px; width: 8px; height: 8px; }
.iconic-pen_alt_fill_12x12 { background-position: -758px -148px; width: 12px; height: 12px; }
.iconic-pen_alt_fill_16x16 { background-position: -775px -148px; width: 16px; height: 16px; }
.iconic-pen_alt_fill_24x24 { background-position: -796px -148px; width: 24px; height: 24px; }
.iconic-pen_alt_fill_32x32 { background-position: -825px -148px; width: 32px; height: 32px; }
.iconic-pen_alt_fill_8x8 { background-position: -862px -148px; width: 8px; height: 8px; }
.iconic-pen_alt_stroke_12x12 { background-position: -875px -148px; width: 12px; height: 12px; }
.iconic-pen_alt_stroke_16x16 { background-position: -892px -148px; width: 16px; height: 16px; }
.iconic-pen_alt_stroke_24x24 { background-position: -913px -148px; width: 24px; height: 24px; }
.iconic-pen_alt_stroke_32x32 { background-position: -942px -148px; width: 32px; height: 32px; }
.iconic-pen_alt_stroke_8x8 { background-position: -979px -148px; width: 8px; height: 8px; }
.iconic-play_12x16 { background-position: -992px -148px; width: 12px; height: 16px; }
.iconic-play_18x24 { background-position: -1009px -148px; width: 18px; height: 24px; }
.iconic-play_24x32 { background-position: -1032px -148px; width: 24px; height: 32px; }
.iconic-play_6x8 { background-position: -1061px -148px; width: 6px; height: 8px; }
.iconic-play_9x12 { background-position: -1072px -148px; width: 9px; height: 12px; }
.iconic-play_alt_12x12 { background-position: -1086px -148px; width: 12px; height: 12px; }
.iconic-play_alt_16x16 { background-position: -1103px -148px; width: 16px; height: 16px; }
.iconic-play_alt_24x24 { background-position: -1124px -148px; width: 24px; height: 24px; }
.iconic-play_alt_32x32 { background-position: -1153px -148px; width: 32px; height: 32px; }
.iconic-play_alt_8x8 { background-position: -1190px -148px; width: 8px; height: 8px; }
.iconic-plus_12x12 { background-position: -1203px -148px; width: 12px; height: 12px; }
.iconic-plus_16x16 { background-position: -1220px -148px; width: 16px; height: 16px; }
.iconic-plus_24x24 { background-position: -1241px -148px; width: 24px; height: 24px; }
.iconic-plus_32x32 { background-position: -1270px -148px; width: 32px; height: 32px; }
.iconic-plus_8x8 { background-position: -1307px -148px; width: 8px; height: 8px; }
.iconic-plus_alt_12x12 { background-position: -1320px -148px; width: 12px; height: 12px; }
.iconic-plus_alt_16x16 { background-position: -1337px -148px; width: 16px; height: 16px; }
.iconic-plus_alt_24x24 { background-position: -1358px -148px; width: 24px; height: 24px; }
.iconic-plus_alt_32x32 { background-position: -1387px -148px; width: 32px; height: 32px; }
.iconic-plus_alt_8x8 { background-position: -1424px -148px; width: 8px; height: 8px; }
.iconic-read_more_12x12 { background-position: -1437px -148px; width: 12px; height: 12px; }
.iconic-read_more_16x16 { background-position: -1454px -148px; width: 16px; height: 16px; }
.iconic-read_more_24x24 { background-position: -1475px -148px; width: 24px; height: 24px; }
.iconic-read_more_32x32 { background-position: -1504px -148px; width: 32px; height: 32px; }
.iconic-read_more_8x8 { background-position: -1541px -148px; width: 8px; height: 8px; }
.iconic-reload_12x14 { background-position: -1554px -148px; width: 12px; height: 14px; }
.iconic-reload_18x21 { background-position: -1571px -148px; width: 18px; height: 21px; }
.iconic-reload_24x28 { background-position: -1594px -148px; width: 24px; height: 28px; }
.iconic-reload_6x7 { background-position: -1623px -148px; width: 6px; height: 7px; }
.iconic-reload_9x11 { background-position: -1634px -148px; width: 9px; height: 11px; }
.iconic-reload_alt_12x14 { background-position: -1648px -148px; width: 12px; height: 14px; }
.iconic-reload_alt_18x21 { background-position: -1665px -148px; width: 18px; height: 21px; }
.iconic-reload_alt_24x28 { background-position: -1688px -148px; width: 24px; height: 28px; }
.iconic-reload_alt_6x7 { background-position: -1717px -148px; width: 6px; height: 7px; }
.iconic-reload_alt_9x11 { background-position: -1728px -148px; width: 9px; height: 11px; }
.iconic-right_quote_12x12 { background-position: -1742px -148px; width: 12px; height: 9px; }
.iconic-right_quote_16x16 { background-position: -1759px -148px; width: 16px; height: 12px; }
.iconic-right_quote_24x24 { background-position: -1780px -148px; width: 24px; height: 18px; }
.iconic-right_quote_32x32 { background-position: -1809px -148px; width: 32px; height: 24px; }
.iconic-right_quote_8x8 { background-position: -1846px -148px; width: 8px; height: 6px; }
.iconic-right_quote_alt_12x12 { background-position: -1859px -148px; width: 12px; height: 9px; }
.iconic-right_quote_alt_16x16 { background-position: -1876px -148px; width: 16px; height: 12px; }
.iconic-right_quote_alt_24x24 { background-position: -1897px -148px; width: 24px; height: 18px; }
.iconic-right_quote_alt_32x32 { background-position: -1926px -148px; width: 32px; height: 24px; }
.iconic-right_quote_alt_8x8 { background-position: -1963px -148px; width: 8px; height: 6px; }
.iconic-rss_12x12 { background-position: -1976px -148px; width: 12px; height: 12px; }
.iconic-rss_16x16 { background-position: -1993px -148px; width: 16px; height: 16px; }
.iconic-rss_24x24 { background-position: 0 -185px; width: 24px; height: 24px; }
.iconic-rss_32x32 { background-position: -29px -185px; width: 32px; height: 32px; }
.iconic-rss_8x8 { background-position: -66px -185px; width: 8px; height: 8px; }
.iconic-stop_12x12 { background-position: -79px -185px; width: 12px; height: 12px; }
.iconic-stop_16x16 { background-position: -96px -185px; width: 16px; height: 16px; }
.iconic-stop_24x24 { background-position: -117px -185px; width: 24px; height: 24px; }
.iconic-stop_32x32 { background-position: -146px -185px; width: 32px; height: 32px; }
.iconic-stop_8x8 { background-position: -183px -185px; width: 8px; height: 8px; }
.iconic-sun_12x12 { background-position: -196px -185px; width: 12px; height: 12px; }
.iconic-sun_16x16 { background-position: -213px -185px; width: 16px; height: 16px; }
.iconic-sun_24x24 { background-position: -234px -185px; width: 24px; height: 24px; }
.iconic-sun_32x32 { background-position: -263px -185px; width: 32px; height: 32px; }
.iconic-sun_8x8 { background-position: -300px -185px; width: 8px; height: 8px; }
.iconic-tag_fill_12x12 { background-position: -313px -185px; width: 12px; height: 12px; }
.iconic-tag_fill_16x16 { background-position: -330px -185px; width: 16px; height: 16px; }
.iconic-tag_fill_24x24 { background-position: -351px -185px; width: 24px; height: 24px; }
.iconic-tag_fill_32x32 { background-position: -380px -185px; width: 32px; height: 32px; }
.iconic-tag_fill_8x8 { background-position: -417px -185px; width: 8px; height: 8px; }
.iconic-tag_stroke_12x12 { background-position: -430px -185px; width: 12px; height: 12px; }
.iconic-tag_stroke_16x16 { background-position: -447px -185px; width: 16px; height: 16px; }
.iconic-tag_stroke_24x24 { background-position: -468px -185px; width: 24px; height: 24px; }
.iconic-tag_stroke_32x32 { background-position: -497px -185px; width: 32px; height: 32px; }
.iconic-tag_stroke_8x8 { background-position: -534px -185px; width: 8px; height: 8px; }
.iconic-trash_fill_12x12 { background-position: -547px -185px; width: 12px; height: 12px; }
.iconic-trash_fill_16x16 { background-position: -564px -185px; width: 16px; height: 16px; }
.iconic-trash_fill_24x24 { background-position: -585px -185px; width: 24px; height: 24px; }
.iconic-trash_fill_32x32 { background-position: -614px -185px; width: 32px; height: 32px; }
.iconic-trash_fill_8x8 { background-position: -651px -185px; width: 8px; height: 8px; }
.iconic-trash_stroke_12x12 { background-position: -664px -185px; width: 12px; height: 12px; }
.iconic-trash_stroke_16x16 { background-position: -681px -185px; width: 16px; height: 16px; }
.iconic-trash_stroke_24x24 { background-position: -702px -185px; width: 24px; height: 24px; }
.iconic-trash_stroke_32x32 { background-position: -731px -185px; width: 32px; height: 32px; }
.iconic-trash_stroke_8x8 { background-position: -768px -185px; width: 8px; height: 8px; }
.iconic-undo_12x12 { background-position: -781px -185px; width: 12px; height: 12px; }
.iconic-undo_16x16 { background-position: -798px -185px; width: 16px; height: 16px; }
.iconic-undo_24x24 { background-position: -819px -185px; width: 24px; height: 24px; }
.iconic-undo_32x32 { background-position: -848px -185px; width: 32px; height: 32px; }
.iconic-undo_8x8 { background-position: -885px -185px; width: 8px; height: 8px; }
.iconic-unlock_fill_12x16 { background-position: -898px -185px; width: 12px; height: 16px; }
.iconic-unlock_fill_18x24 { background-position: -915px -185px; width: 18px; height: 24px; }
.iconic-unlock_fill_24x32 { background-position: -938px -185px; width: 24px; height: 32px; }
.iconic-unlock_fill_6x8 { background-position: -967px -185px; width: 6px; height: 8px; }
.iconic-unlock_fill_9x12 { background-position: -978px -185px; width: 9px; height: 12px; }
.iconic-unlock_stroke_12x9 { background-position: -992px -185px; width: 9px; height: 12px; }
.iconic-unlock_stroke_16x12 { background-position: -1006px -185px; width: 12px; height: 16px; }
.iconic-unlock_stroke_24x18 { background-position: -1023px -185px; width: 18px; height: 24px; }
.iconic-unlock_stroke_32x24 { background-position: -1046px -185px; width: 24px; height: 32px; }
.iconic-unlock_stroke_8x6 { background-position: -1075px -185px; width: 6px; height: 8px; }
.iconic-user_12x16 { background-position: -1086px -185px; width: 12px; height: 16px; }
.iconic-user_18x24 { background-position: -1103px -185px; width: 18px; height: 24px; }
.iconic-user_24x32 { background-position: -1126px -185px; width: 24px; height: 32px; }
.iconic-user_6x8 { background-position: -1155px -185px; width: 6px; height: 8px; }
.iconic-user_9x12 { background-position: -1166px -185px; width: 9px; height: 12px; }
.iconic-volume_12x9 { background-position: -1180px -185px; width: 12px; height: 9px; }
.iconic-volume_16x12 { background-position: -1197px -185px; width: 16px; height: 12px; }
.iconic-volume_24x18 { background-position: -1218px -185px; width: 24px; height: 18px; }
.iconic-volume_32x24 { background-position: -1247px -185px; width: 32px; height: 24px; }
.iconic-volume_8x6 { background-position: -1284px -185px; width: 8px; height: 6px; }
.iconic-volume_mute_12x9 { background-position: -1297px -185px; width: 12px; height: 9px; }
.iconic-volume_mute_16x12 { background-position: -1314px -185px; width: 16px; height: 12px; }
.iconic-volume_mute_24x18 { background-position: -1335px -185px; width: 24px; height: 18px; }
.iconic-volume_mute_32x24 { background-position: -1364px -185px; width: 32px; height: 24px; }
.iconic-volume_mute_8x6 { background-position: -1401px -185px; width: 8px; height: 6px; }
.iconic-x_11x11 { background-position: -1414px -185px; width: 11px; height: 11px; }
.iconic-x_14x14 { background-position: -1430px -185px; width: 14px; height: 14px; }
.iconic-x_21x21 { background-position: -1449px -185px; width: 21px; height: 21px; }
.iconic-x_28x28 { background-position: -1475px -185px; width: 28px; height: 28px; }
.iconic-x_7x7 { background-position: -1508px -185px; width: 7px; height: 7px; }
.iconic-x_alt_12x12 { background-position: -1520px -185px; width: 12px; height: 12px; }
.iconic-x_alt_16x16 { background-position: -1537px -185px; width: 16px; height: 16px; }
.iconic-x_alt_24x24 { background-position: -1558px -185px; width: 24px; height: 24px; }
.iconic-x_alt_32x32 { background-position: -1587px -185px; width: 32px; height: 32px; }
.iconic-x_alt_8x8 { background-position: -1624px -185px; width: 8px; height: 8px; }
