

  <div class="browser disq_browser">
    <h1><%= t('.title') %></h1>
    <div class="list disqs">
      <% @disqs.each do |disq| %>
        <% div_for(disq, :class => 'item') do  %>
          <%= link_to_ajax disq.title, disq_path(disq) %>
        <% end %>
      <% end %>
    </div>
    <div class="actions">
      <% if can? :manage, @project %>
        <%= ibutton_to t('.new_disq'), 'plus_alt', new_project_disq_path(@project) %>
      <% end %>
    </div>
  </div>
