
@import "variables";

@browser_size: 300px;
@comm_size: 264px;

#workspace {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: @gris;
}

#left {overflow: hidden; position: absolute; left: 0; top: 0; width: @browser_size; bottom: 0;}
#center {overflow: hidden; position: absolute; top: 0; bottom: 0; left: @browser_size; right: @comm_size;}
#right {overflow: hidden; position: absolute; top: 0; right: 0; bottom: 0; width: @comm_size;}
#browser_viewport {position: absolute; left: 10px; top: 80px; bottom: 10px; right: 10px; .rounded; }
#comm_viewport {position: absolute; left: 10px; top: 80px; bottom: 10px; right: 10px; .rounded;}
#content {position: absolute; left: 10px; top: 15px; right: 10px; bottom: 10px; overflow-x: hidden;}
#user_navigation {width: 100%; overflow: hidden;}

.round-bottom {border-radius: 0 0 3px 3px;}
#current_user {position: absolute; top: 0; right: 50px; height: 2em; z-index: 5000;}
#current_user a {display: block; float: right; padding: 3px 10px; background-color: @azulclaro; box-shadow: 1px 1px 3px rgb(0,0,0);
   border-right: 1px solid @azul; border-bottom: 1px solid @azul; border-left: 1px solid @azul; color: @azul;  .round-bottom;}
#working {text-align: center; padding: 1px 0px; position: absolute; left: 40%; right: 40%; font-size: @font-small; background-color: @amarillo; color: @azul; .round-bottom;z-index: 5000;}
.browser {.rounded;}

#site_navigation li {display: block; float: left;}
#user_navigation li {display: block; float: right;}
a.sprite-nav, div.navigation-disabled {
    display: block; overflow: hidden; text-indent: -10000px; padding: 1px;
    margin: 3px 0px 0 3px; border: 3px solid @gris; .rounded;
}
div.navigation-disabled {
    opacity: 0.5;
}
a.sprite-nav:hover, a.sprite-nav.selected {
    border-color: @grisclaro;
}

#flash p {
    padding: 4px 0 0px 10px ;
    color: @azul; background-color: @amarillo; .rounded;
}

.iconic {
    display: block; overflow: hidden; text-indent: -10000px;
}



.actions a {float: left; opacity: 0.5; border: 3px solid transparent; .rounded;}
.actions a:hover {opacity: 1; background-color: @azul;}