
@import "variables";

@browser_size: 340px;
@comm_size: 290px;

#workspace {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: @gris;
}

#bgnavigation {position: absolute; left: 0; right: 0; top: 0; height: 80px; background-color: @gris;}
#navigation {position: absolute; left: 0; right: 0; top: 0; height: 80px; background-color: transparent; z-index:1000;}
#main {position: absolute; left: 0; right: 0; top: 30px; bottom: 0; overflow: hidden;}
#browser_viewport {position: absolute; left: 10px; top: 50px; bottom: 10px; width: @browser_size - 40; .rounded; }
#comm_viewport {position: absolute; right: 10px; top: 50px; bottom: 10px; width: @comm_size; .rounded;}
#content_viewport {position: absolute; left: 0; top: 0px; right: 0; bottom: 0; background-color: @gris; }
#content_viewport.has_browser {left: @browser_size - 20;}
#content_viewport.has_comm {right: @comm_size + 10;}
#content {position: absolute; left: 10px; top: 0px; right: 10px; bottom: 10px; overflow-x: hidden;}

#project_stages {width: 70%; overflow: hidden; margin: 5px 10% 10px 10%; padding: 5px 5%;
    background-color: @grisclaro; color: @azul; border: 1px solid @grisoscuro; .rounded; }
#project_stages .icons {height: 10px; float: left;}
#project_stages a {font-weight: bold; color: @azul;}

#project_stages icons div {text-indent: -1000px; overflow: hidden; border: 0; background-color: @grisclaro; }

#site_navigation {position: absolute; padding-left: 10px; left: 0px; width: @browser_size; top: 0; bottom: 0;}
#user_navigation {position: absolute; width: @comm_size; top: 0; right: 0; bottom: 0;}
#messages {padding: 0 15px 0 15px; position: absolute; left: @browser_size - 20; top: 0; right: @comm_size; bottom: 0;}
#plataformabooka {position: absolute; top: -3px; left: 24px; color: @grisoscuro; font-size: @font-small;}
.round-bottom {border-radius: 0 0 3px 3px;}
#working {text-align: center; padding: 1px 0px; position: absolute; left: 40%; right: 40%; font-size: @font-small; background-color: @amarillo; color: @azul; .round-bottom;}

#current_user {position: absolute; top: 0; width: 50%; right: 67px; height: 2em;}
.current_user {padding: 3px 10px; background-color: @azulclaro; color: @azul; .round-bottom;}
#current_user a {display: block; float: right; .current_user;}
#current_project {margin-top: 0.2em; height: 1.3em; font-family: @serif; font-size: @font-small;}
#place {font-size: 150%; height: 1.5em; overflow: hidden; font-family: @serif; width: 95%;}

#site_navigation li {display: block; float: left;}
#user_navigation li {display: block; float: right;}
a.sprite-nav, div.navigation-disabled {
    display: block; overflow: hidden; text-indent: -10000px; padding: 1px;
    margin: 3px 0px 0 3px; border: 3px solid @gris; .rounded;
}
div.navigation-disabled {
    opacity: 0.5;
}
a.sprite-nav:hover, a.sprite-nav.selected {
    border-color: @grisclaro;
}

#flash p {
    padding: 4px 0 0px 10px ;
    color: @azul; background-color: @amarillo; .rounded;
}

.iconic {
    display: block; overflow: hidden; text-indent: -10000px;
}



.actions a {float: left; opacity: 0.5; border: 3px solid transparent; .rounded;}
.actions a:hover {opacity: 1; background-color: @azul;}