
@import "variables";

.document_browser {
    height: 100%;
    background-color: @grisclaro; font-family: @serif;
}
.document_browser h1 {
    padding: 5px; font-size: 120%; 
}
.document_browser .documents {
    position: absolute; left: 0; top: 40px; right: 0; bottom: 30px;
    background-color: white;
}
.document_browser .documents .document {
    padding: 3px; border-bottom: 1px solid @grisclaro;
}
.document_browser .documents div.document:hover {background-color: @grisclaro;}
.document_browser .documents .document a {color: black;}
.document_browser .actions {
    position: absolute; left: 0; height: 30px; right: 0; bottom: 0;
}
