
@import "variables";

.browser.projects {
    overflow: hidden;
    background-color: @azul;
}

.browser.projects .project {
    margin: 10px;
    display: block;
    background-color: white;
    padding: 5px;
    .rounded;
}
.browser.projects a {color: black; font-size: 120%;}