
<div class="under_construction">
  <h1>Perfil</h1>
  <p>(en construcción)</p>
  <p>Este es el lugar privado de booka. Aquí se recibirán mensajes privados de otros colaboradores, se cambiarán los datos personales, etcétera</p>
</div>

