
<div class="dialog">
  <h1><%= @document.new_record? ? 'Añadir un nuevo archivo' : "Editar '#{h @document.title}'" %></h1>
  <% semantic_form_for(@document) do |form| %>
    <%= form.error_messages %>
    <% form.inputs do %>
      <%= form.input :title %>
    <% end %>
    <% form.buttons do %>
      <%= form.commit_button %>
    <% end %>
  <% end %>
</div>