

<ul class="browser projects">
  <h1>Investigaciones</h1>
  <% @projects.each do |project| %>
    <% if can? :read, project %>
      <li class="project">
        <%= link_to_ajax h(project.title), project_project_call_path(project) %>
        <p class="description"><%= h project.description %></p>
        <p class="property collaborators"><%= link_to_ajax("#{project.permissions.size} personas colaborando.", project_path(project)) %></p>
        <%= content_tag(:p, 'Visible sólo por colaboradores', :class => 'property visibility') if project.visibility == 'private' %>
      </li>
    <% end %>
  <% end %>
</ul>
