<div id="page" class="doc">
  <% div_for site do %>
    <% if can? :manage, site %>
      <div class="floating_actions">
        <%= js_action_to "Editar texto", "pen_alt_stroke", edit_site_path %>
      </div>
    <% end %>

    <div class="head">
      <h1><%= site.title %></h1>
    </div>
    <div class="body">
      <div class="section">
        <%= site.body_rendered  %>
      </div>
    </div>
  <% end %>
</div>
