
<div class="dialog">
  <% semantic_form_for(:document, @document, :url => project_project_documents_path(@project)) do |form| %>
    <%= form.error_messages %>
    <% form.inputs do %>
      <%= form.input :title %>
    <% end %>
    <% form.buttons do %>
      <%= form.commit_button %>
    <% end %>
  <% end %>
</div>