
<div class="dialog">
  <h1><%= t('.new', :title => @project.title) %></h1>
  <% semantic_form_for([@document.project, @document]) do |form| %>
    <%= form.error_messages %>
    <% form.inputs do %>
      <%= form.input :title %>
    <% end %>
    <% form.buttons do %>
      <%= form.commit_button %>
    <% end %>
  <% end %>
</div>