
<div id="page">
  <div class="info">
    <h1>Fase de presentaci칩n de propuestas</h1>
    <p>Este es el listado de documentos de la investigaci칩n '<%= @project.title %>'</p>
    <p>Pronto podr치s a침adir documentos y archivos aqui</p>
  </div>
</div>