
$.booka.clear('browser');
$("#current_user").html('<a href="#" rel="dialog:<%=  close_user_sessions_path(:url => request.path)  %>"><%=  current_user.name %></a>');
$.booka.load($.address.value());
$.booka.dialogs.show();
