
$.booka.layout.clear('browser');
$("#current_user").html('<a href="#" rel="dialog:<%=  new_user_sessions_path(:url => request.path)  %>">Entrar</a>');
$.booka.core.load($.address.value());
$.booka.dialogs.show();
