
<% place_of @disq %>
<% content_for :browser do %>
  <%= render 'disqs/browser'  %>
<% end %>


<div id="discussion">
  <h1><%= @disq.title %></h1>
  <%= render_disq @tree.keys.first, @tree.values.first %>
</div>